@import '../scss/variables.scss';

$stepCount: 5;
$font-family: Arial;
$step-number-height: 2.5rem;
$step-transition: all .5s;

.configurator {
    &-header {
        margin: 0.5rem 0 2.5rem;
    }

    &-step-list {
        display: flex;
        flex: 1 0 auto;
        height: 6.5rem;
        margin: 0 0.75rem 1.5rem;
        position: relative;

        &-progressbar {
            position: absolute;
            top: 22.5%;
            left: 10%;
            width: 80%;
        }

        &-item {
            position: relative;
            width: calc(100% / $stepCount);

            &-number {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                top: 10%;
                left: 0;
                right: 0;
                width: $step-number-height;
                height: $step-number-height;
                border-radius: 50%;
                background-color: var(--bs-secondary-bg); // Bootstrap progress BG color
                color: #CECECE;
                font: bold 1.5rem $font-family;
                text-align: center;
                line-height: $step-number-height;
                transition: $step-transition;
            }
            
            &-label {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                bottom: 0;
                left: 0;
                right: 0;
                word-spacing: 100vw; // Hack to wrap each word
                text-align: center;
                line-height: 1.5rem;
            }

            &.configurator-step__active {
                cursor: pointer;
            }
            .configurator-step__active &-number {
                background-color: var(--bs-success); // Bootstrap progress FG color
                
            }
            .configurator-step__current &-number {
                background-color: $theme-primary-color;
                color: #FFFFFF;
                transition: $step-transition;
            }
            .configurator-step__current &-label {
                font-weight: bold;
            }
        }
    }

    &-note {
        padding: 0.75rem 1rem 1rem;
        margin-top: 2rem;

        &-list {
            margin-bottom: 0;
        }
    }

    &-form {

        &-row {
            vertical-align: middle;
            margin-bottom: 1rem;
        }

        &-label {
            font-weight: bold;
        }

        div &-button-row {
            margin: 3rem 0 1rem;
        }
    }
}
